<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Tweet</a>
</nav>


<div class= "text-center">
    <h1>アカウント作成</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
      <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="new_user">
          <div class="form-group">
          <%= f.label :name, "名前" %>
          <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :email, "Eメール" %>
          <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :password_confirmation, "確認" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <div class="form-group">
      <%= link_to "アカウント作成済みの方", login_path %>
      </div>
      <%= f.submit "アカウント作成", class: "btn btn-primary btn-block'" %>
      <% end %>
      </div>
      
      
　</div>
</div>

