<nav class="navbar navbar-dark bg-dark">
  <%= link_to "Tweet", puts_path, class:"pathnavbar-brand" %>
  <form class="form-inline">
    <%= link_to "ログアウト", logout_path, method: :delete, class: "btn btn-primary" %>
  </form>
</nav>
<h1 class= "puts-title">投稿内容</h1>
<p><%= link_to "質問を投稿する", new_put_path, class: "btn-1" %></p>


<% @puts.each do |put| %>
<ul class="title-body">
    <li>質問</li>
     <li><span>名前:</span><%= @put.user.name %></li>
 　  <li><span>タイトル:</span><%=link_to put.title, put_path(put) %></li>
</ul>
<% end %>

<%= paginate @puts %>



