<nav class="navbar navbar-dark bg-dark">
  <%= link_to "Tweet", puts_path, class:"pathnavbar-brand" %>
</nav>
<h1 class= "show_title">質問詳細</h1>

<ul class= "show_problem">
    <li>タイトル：<%= @put.title %></li>
    <li>内容：<%= @put.body %></li>
</ul>

<h2 class= "h2_title">質問に対する答え</h2>
<% if @put.problems.any? %>

<% @put.problems.each do |put| %>
<ol class= "ol">
    <li>答え：<%= put.content %></li>
</ol>
<% end %>
<% end %>

<%= form_for ([@put, @put.problems.build]) do |f|  %>
    
    <div class="form_group">
        <i class="fas fa-user"></i><%= f.label :content, "答え:" %>
        <%= f.text_area :content, placeholder: "質問に答える", class: "form_control-1-4" %>
    </div>

<ul class="new_btn">
    <li><%= f.submit "回答を投稿する", class: "btn-1 btn_black-1" %></li>
    
    <li><%= link_to "戻る", puts_path, class: "btn-2 btn_black-2" %></li>
</ul>

<% end %>